<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Login</title>
    <link rel="stylesheet"  type="text/css" th:href="@{./css/login.css}">
</head>
<body>


<section class="login-section">
    <!--    <img class="login-section-image" src="./img/Union.png" alt="404">-->
    <header class="header">
        <a th:href="@{./login.html}" class="header-link"><img th:src="@{img/Group%201.png}" alt="IBA Tech Academy"/></a>
    </header>
    <div class="login-section-container">
<!--        <img src="img/Union.png">-->
        <h1 class="login-section-container-title">Welcome Back!</h1>
        <p class="login-section-container-description">To keep connected with us please login with personal information by email address and password</p>
        <form action="#"  th:action="@{/user/handle_login}" class="login-section-container-form"  th:object="${userLog}" method="post" >
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="./img/mail-icon.svg" alt="User Icon">
                <label for="email"></label>
                <input class="login-section-container-form-input" id="email" placeholder="Email address" type="text" th:field="*{email}">
            </div>
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="./img/lock-icon.svg" alt="User Icon">
                <label for="password"></label>
                <input class="login-section-container-form-input" id="password" placeholder="Password" type="text" th:field="*{password}">
            </div>
            <div class="login-section-container-options">
                <div class="login-section-container-options-wrapper">
                    <label class="login-section-container-options-checkbox-wrapper">Remember Me
                        <input type="checkbox" class="login-section-container-options-old-checkbox">
                        <span class="login-section-container-options-checkmark"></span>
                    </label>
                </div>
                <a th:href="@{./forgot-password.html}" class="login-section-container-options-link">Forgot password?</a>
            </div>
            <div class="login-section-form-buttons">
                <input  class="login-section-container-form-login" type="submit" value="Login now">
                <a th:href="@{./registration.html}" class="login-section-container-form-signup">Create account</a>
            </div>
            <div class="login-section-form-social">
                <div class="login-section-form-social-description-wrapper">
                    <hr class="login-section-form-social-description-line">
                    <span class="login-section-form-social-description">Or you can Join with</span>
                    <hr class="login-section-form-social-description-line">
                </div>
                <div class="login-section-form-social-icon-wrapper">
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="./img/google-plus.svg" alt="Google Plus"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="./img/facebook.svg" alt="Facebook"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="./img/linked-in.svg" alt="Linked In"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon mr0"><img src="./img/twitter.svg" alt="Twitter"></a>
                </div>
            </div>
<!--            <input type="submit">-->
        </form>
    </div>
</section>

<script th:src="@{./js/checkbox.js}"></script>
</body>
</html>