<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Login</title>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{../static/css/login.css}">
</head>
<body>


<section class="login-section">
    <!--    <img class="login-section-image" src="./img/Union.png" alt="404">-->
    <header class="header">
        <a th:href="@{/user/login}" class="header-link"><img th:src="@{../static/img/Group%201.png}" alt="IBA Tech Academy"/></a>
    </header>
    <div class="login-section-container">
<!--        <img src="img/Union.png">-->
        <h1 class="login-section-container-title">Welcome Back!</h1>
        <p class="login-section-container-description">To keep connected with us please login with personal information by email address and password</p>
        <form action="#"  th:action="@{/user/handle_login}" class="login-section-container-form"  th:object="${userLog}" method="post" >
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="../static/img/mail-icon.svg" alt="User Icon">
                <label for="email"></label>
                <input class="login-section-container-form-input" id="email" placeholder="Email address" type="text" th:field="*{email}">
            </div>
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="../static/img/lock-icon.svg" alt="User Icon">
                <label for="password"></label>
                <input class="login-section-container-form-input" id="password" placeholder="Password" type="password" th:field="*{password}">
            </div>
            <div class="login-section-container-options">
                <a th:href="@{/user/forgot_pass}" class="login-section-container-options-link">Forgot password?</a>
            </div>
            <div class="login-section-form-buttons">
                <input  class="login-section-container-form-login" type="submit" value="Login now">
                <a th:href="@{/user/reg}" class="login-section-container-form-signup">Create account</a>
            </div>
            <div class="login-section-form-social">
                <div class="login-section-form-social-description-wrapper">
                    <hr class="login-section-form-social-description-line">
                    <span class="login-section-form-social-description">Or you can Join with</span>
                    <hr class="login-section-form-social-description-line">
                </div>
                <div class="login-section-form-social-icon-wrapper">
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="../static/img/google-plus.svg" alt="Google Plus"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="../static/img/facebook.svg" alt="Facebook"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon"><img src="../static/img/linked-in.svg" alt="Linked In"></a>
                    <a th:href="@{#}" class="login-section-form-social-icon mr0"><img src="../static/img/twitter.svg" alt="Twitter"></a>
                </div>
            </div>
<!--            <input type="submit">-->
        </form>
    </div>
</section>

<script th:src="@{./js/checkbox.js}"></script>
</body>
</html>