<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Main Page</title>
    <link rel="stylesheet" th:href="@{../static/css/main-page.css}">
</head>
<body>

<header class="main-header">
    <a href="/news_feed" class="main-header-logo"><img src="/img/Group%2012.png" alt="IBA Tech Academy"></a>

    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <form th:action="@{/news_feed}" method="get">
                <input type="text" class="main-header-search" name="keyword" placeholder="Press Enter">
                <img src="/img/search-icon.svg" alt="Search Icon">
            </form>

        </label>

        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username" th:text="${username}"></span>
            </div>
            <img class="main-header-user-icon" th:src="${imageAsBase64}" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img th:src="@{../static/img/favourite-icon.svg}" alt="Favourite Icon"><a
                            th:href="@{/disable_news}" class="hidden-accordion-item-link">My News</a></li>
                    <li class="hidden-accordion-item"><img th:src="@{../static/img/log-out-icon.svg}" alt="Log Out Icon"><a
                            th:href="@{/login}" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="main-section">
    <div class="tab" th:each="article : ${articleList}">
        <a class="tab-link-wrapper" th:href="${article.articleLink}">
            <img class="tab-image main-page-image" th:src="${article.imageLink}" alt="404">
            <div class="tab-content">
                <p class="tab-title" th:text="${article.header}"></p>
                <p class="tab-description" th:text="${article.getContent()}"></p>
                <p class="tab-tags"><a class="tab-link" th:text="${article.site}"></a></p>
            </div>
        </a>
    </div>
</div>

</body>
</html>