<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: tab</title>
    <link rel="stylesheet" th:href="@{../static/css/open-tab.css}">
</head>
<body>
<header class="main-header">
    <a th:href="@{/article/news_feed}" class="main-header-logo"><img th:src="@{../static/img/Group%2012.png}" alt="IBA Tech Academy"></a>

    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <form th:action="@{/news_feed}" method="get">
                <input type="text" class="main-header-search" name="keyword" placeholder="Press Enter">
                <img th:src="@{../static/img/search-icon.svg}" alt="Search Icon">
            </form>

        </label>

        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username" th:text="${username}"></span>
            </div>
            <img class="main-header-user-icon" th:src="@{../static/img/user-icon.svg}" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><img th:src="@{../static/img/favourite-icon.svg}" alt="Favourite Icon"><a
                            th:href="@{/disable_news}" class="hidden-accordion-item-link">My News</a></li>
                    <li class="hidden-accordion-item"><img th:src="@{../static/img/log-out-icon.svg}" alt="Log Out Icon"><a
                            th:href="@{/login}" class="hidden-accordion-item-link">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="tab-section" th:each="article : ${articleList}">
    <img class="main-image" th:src="${article.imageLink}" alt="404">
    <img class="background-drawing" th:src="@{../static/img/Group.png}">
    <div class="text-box">
        <p class="text-box-title" th:text="${article.header}"></p>
            <p class="tab-description" th:text="${article.getFullContent()}"></p>
        </p>
    </div>
</section>

</body>
</html>