<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Login</title>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{../static/css/login.css}">
</head>
<body>


<section class="login-section">
    <!--    <img class="login-section-image" src="./img/Union.png" alt="404">-->
    <header class="header">
        <a th:href="@{/user/reset_password}" class="header-link"><img th:src="@{../static/img/Group%201.png}" alt="IBA Tech Academy"/></a>
    </header>
    <div class="login-section-container">
<!--        <img src="img/Union.png">-->
        <h1 class="login-section-container-title">Reset password!</h1>
        <p class="login-section-container-description">Please enter new password</p>
        <form action="#"  th:action="@{/user/handle_reset}" class="login-section-container-form"  th:object="${userResPas}" method="post" >
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="../static/img/lock-icon.svg" alt="User Icon">
                <label for="password"></label>
                <input class="login-section-container-form-input" id="password" placeholder="Password" type="text" th:field="*{password}">
            </div>
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="../static/img/lock-icon.svg" alt="User Icon">
                <label for="password"></label>
                <input class="login-section-container-form-input" id="repPassword" placeholder="Repeat Password" type="text" th:field="*{repPassword}">
                <input type="hidden" id="token" name="token" th:value="${tkn}" th:field="*{token}">
            </div>
            <div class="login-section-form-buttons">
                <input  class="login-section-container-form-login" type="submit" value="Reset now">
            </div>


        </form>
    </div>
</section>

<script th:src="@{./js/checkbox.js}"></script>
</body>
</html>